@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  font-family: "Roboto";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131417;
  flex-wrap: nowrap;
  position: relative;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.information {
  height: 86vh;
  margin-top: 10px;
  background-color: #2f2f2f;
  display: grid;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  margin-left: 50vh;
  font-size: 5vh;
}

/* Base responsive adjustments */
@media screen and (max-width: 1024px) {
  .left {
    margin-left: 0;
  }
}

.information img {
  height: 50vh;
  border-radius: 100%;
  margin-right: 10vh;
  max-width: 100%;
  object-fit: cover;
  width: auto;
}

.board {
  margin-top: -10%;
  position: relative;
  animation: move 5s infinite;
  animation-direction: alternate;
}

.board img {
  max-width: 100%;
  height: auto;
}

@keyframes move {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 100px;
    left: 700px;
  }
}

/* Responsive board animation */
@media screen and (max-width: 1024px) {
  @keyframes move {
    from {
      top: 0px;
      left: 0px;
    }
    to {
      top: 80px;
      left: 500px;
    }
  }
}

@media screen and (max-width: 767px) {
  .board {
    display: none; /* Hide animated board on mobile for better UX */
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;

  li {
    padding: 6px 0;

    a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-family: Lato, sans-serif;
      color: #ecf0f1;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: rgb(255, 0, 0);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: #95a5a6;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.social-icons {
  padding: 30px;
  text-align: center;
  flex-shrink: 0;
}
.social-icons a {
  color: #fff;
  line-height: 30px;
  font-size: 30px;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons a i {
  line-height: 30px;
  font-size: 30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* Tablet Styles (768px - 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    font-size: 1.6rem;
    height: auto;
    min-height: auto;
    padding: 20px 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .container > p {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .animation {
    height: 40px;
    margin-left: 0.5rem;
  }

  .social-icons {
    width: 100%;
    padding: 15px 0;
    order: 3;
  }

  .information {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    min-height: auto;
    padding: 30px 20px;
    gap: 40px;
  }

  .left {
    margin-left: 0;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;
    order: 1;
  }

  .right {
    order: 2;
    display: flex;
    justify-content: center;
  }

  .information img {
    height: auto;
    width: 300px;
    max-width: 80%;
    margin-right: 0;
    aspect-ratio: 1;
  }

  .social-icons a {
    font-size: 26px;
    margin: 0 10px;
  }
}

/* Mobile Styles (max-width: 767px) */
@media screen and (max-width: 767px) {
  .container {
    font-size: 1rem;
    height: auto;
    min-height: auto;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
  }

  .container > p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
  }

  .animation {
    height: 28px;
    margin-left: 0.3rem;
    width: auto;
  }

  .animation > div > div {
    padding: 0.15rem 0.4rem;
    height: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 0.85rem;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -3.5rem;
    }
    30% {
      margin-top: -3.5rem;
    }
    40% {
      margin-top: -7rem;
    }
    60% {
      margin-top: -7rem;
    }
    70% {
      margin-top: -3.5rem;
    }
    80% {
      margin-top: -3.5rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }

  .social-icons {
    padding: 10px 0;
    width: 100%;
    margin-top: 0;
    order: 3;
  }

  .social-icons a {
    font-size: 22px;
    margin: 0 8px;
  }

  .information {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    min-height: auto;
    padding: 20px 15px;
    margin-top: 0;
    gap: 30px;
  }

  .left {
    margin-left: 0;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    order: 1;
  }

  .right {
    order: 2;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .information img {
    height: auto;
    width: 200px;
    max-width: 70%;
    margin-right: 0;
    aspect-ratio: 1;
  }

  ul {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  ul li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  ul li a {
    font-size: 1.1rem;
    padding: 8px 0;
    display: inline-block;
  }
}

/* Extra Small Mobile Devices (max-width: 480px) */
@media screen and (max-width: 480px) {
  .container {
    font-size: 0.9rem;
    padding: 12px 8px;
  }

  .container > p {
    font-size: 0.9rem;
  }

  .animation {
    height: 24px;
    margin-left: 0.2rem;
  }

  .animation > div > div {
    padding: 0.1rem 0.3rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -3rem;
    }
    30% {
      margin-top: -3rem;
    }
    40% {
      margin-top: -6rem;
    }
    60% {
      margin-top: -6rem;
    }
    70% {
      margin-top: -3rem;
    }
    80% {
      margin-top: -3rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }

  .information {
    padding: 15px 10px;
    gap: 25px;
  }

  .left {
    font-size: 1.3rem;
  }

  .information img {
    width: 180px;
    max-width: 65%;
  }

  ul li a {
    font-size: 1rem;
  }

  .social-icons {
    padding: 8px 0;
  }

  .social-icons a {
    font-size: 20px;
    margin: 0 6px;
  }
}
