.photography p {
  height: 200px;
  width: 500px;
  margin: 100px auto;
  position: relative;
}

img {
  height: 100px;
  position: absolute;
  left: 0;
  offset-path: path("m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30");
  box-shadow: 1px 1px 3px #0008;
  transition: transform 0.4s ease-out,
    offset-path 0.4s cubic-bezier(0.77, -1.17, 0.75, 0.84), box-shadow 0.3s,
    z-index 0.3s;
  z-index: 0;
}

img:hover {
  transform: scale(3);
  /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
  offset-path: path("m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0");
  box-shadow: 3px 4px 10px #0006;
  /* ensures that image gets on top of stack at the start of "popping" animation
     and gets back at the end of getting back. With smaller value, 2 different transitions would be needed */
  z-index: 999;
}

/* 3 images */
img:nth-last-child(3):first-child {
  offset-distance: 17%;
}
img:nth-last-child(2):nth-child(2) {
  offset-distance: 49%;
}
img:last-child:nth-child(3) {
  offset-distance: 81%;
}

/* 4 images */
img:nth-last-child(4):first-child {
  offset-distance: 10%;
}
img:nth-last-child(3):nth-child(2) {
  offset-distance: 35%;
}
img:nth-last-child(2):nth-child(3) {
  offset-distance: 65%;
}
img:last-child:nth-child(4) {
  offset-distance: 90%;
}

/* 5 images */
img:nth-last-child(5):first-child {
  offset-distance: 0%;
}
img:nth-last-child(4):nth-child(2) {
  offset-distance: 25%;
}
img:nth-last-child(3):nth-child(3) {
  offset-distance: 51%;
}
img:nth-last-child(2):nth-child(4) {
  offset-distance: 75%;
}
img:last-child:nth-child(5) {
  offset-distance: 100%;
}

.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131417;
}

.container p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}

/* Tablet Styles (768px - 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .photography p {
    height: 180px;
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
  }

  img {
    height: 80px;
  }

  img:hover {
    transform: scale(2.5);
  }

  .container {
    font-size: 1.8rem;
    height: 12vh;
  }
}

/* Mobile Styles (max-width: 767px) */
@media screen and (max-width: 767px) {
  body {
    overflow: auto !important;
  }

  .photography {
    padding: 20px 0;
  }

  .photography p {
    height: 120px;
    width: 95%;
    margin: 40px auto;
  }

  img {
    height: 50px;
  }

  img:hover {
    transform: scale(2.5);
  }

  .container {
    font-size: 1rem;
    height: auto;
    min-height: auto;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
  }

  /* Adjust offset paths for smaller screens */
  img {
    offset-path: path("m 0 35 q 35-20 70-20 t 70 20 70 0 70-20 70 20");
  }

  img:hover {
    offset-path: path("m 2 45 q 30-0 60-0 t 60 0 60 0 60-0 60 0");
  }
}
